@import '../../styles/variables.scss';

.styledTableContainer {
  
  margin: 3rem;
  display: flex;
}

.styledAdMainContainer {
  background: rgba(252, 225, 200, 0.65);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 99px 49px;
  padding: 20px 279px 30px 38px;
}

.styledAdContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1040px;
  
}

.styledAdfooter {
  
  margin-left: 80px;
  margin-bottom: 30px;
}


.styledAccountTitle {
  display: flex;
  gap: 10rem;
}

.styledMainSections {
  display: flex;
  gap: 10rem;
}

.styledTable {
  margin: 1rem;
  padding: 1rem;
}

.styledAdAccountContainer {
  display: grid;
  grid-template-columns: 166px auto;
  row-gap: 19px;
  align-items: baseline;
  margin-top: 38px;
  font-weight: 400;
  font-size: 18px;  
}

.styledAdTitle {
  font-weight: 400;
  font-size: 20px;  
  color: #FF3600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 360px) {
  
  .styledAdMainContainer {
    margin: 70px 0;
    padding: 27px 10px 20px 10px;
  }
  .styledAdAccountContainer {
    grid-template-columns: 110px auto;
    margin-top: 10px;
    row-gap: 10px;
  }
  .styledAdTitle {
    font-weight: 400;
    font-size: 12px;
  }
  .styledAdContainer {
    min-width: 320px;
  }
  .styledAdfooter {
    margin-bottom: 20px;
    margin-left: 0px;
  }
}