.styledTableContainer {
  background-color: aquamarine;
  margin: 3rem;
  display: flex;
  
}
.styledAccountTitle {
  display: flex;
  gap: 10rem;
}

.styledMainSections {
  display: flex;
  gap: 10rem;
}

.styledTable {
  margin: 1rem;
  padding: 1rem;
}