@import '../../styles/variables.scss';
.styledOrderTable {
  width: 100%;
  margin-top: 18px;
}

.styledHeaderOrderTable {
  font-weight: 500;
  font-size: 18px;
  // padding: 4px 43px 5px 43px;
}

@media (max-width: $bp-tablet) {
  .styledHeaderOrderTable {
    font-weight: 700;
    font-size: 12px;
  }
}
