@import '../../styles/variables';

.styledForm {
  // padding: 96px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.styledLoginFormSize {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.styledLoginTitle {
  color: $title-color-login-signup;
  font-size: $title-size-login-signup;
  font-weight: $second-text-weight;
  font-family: 'Roboto';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 18px;
  margin-bottom: 28px;
}

.styledLogininput {
  margin: 9px;
  background: #ffffff;
  border: 1px solid rgba(255, 54, 0, 0.7);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 320px;
  padding: 6px 30px;
}

.styledSignupBtn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  background-color: $btns-font-color;
  color: $btns-text-color;
  padding: 8px 55px;
  margin-left: 9px;
  border-radius: $border-radius-for-btns-select-input;
  font-size: $main-text-size;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-top: 25px;
  margin-bottom: 25px;
}
.styledLogininput:focus {
  outline-color: rgba(255, 54, 0, 0.7);
}

@media (max-width: $bp-phone) {
  .styledLogininput {
    max-width: 221px;
  }
  .styledLoginTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 70px;
    margin-bottom: 20px;
  }
  .styledLogininput {
    margin: 5px;
  }
  .styledSignupBtn {
    padding: 10px 12px 9px 12px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 25px;
  }
}
