@import '../../styles/variables';

.styledSignupForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  // padding: 88px;
  // margin-bottom: 100px;
}

.styledSignupFormSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.styledSignupTitle {
  color: $title-color-login-signup;
  font-size: $title-size-login-signup;
  font-weight: $second-text-weight;
  font-family: 'Roboto';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 100px;
  padding-top: 20px;

}

.styledSignupinput {
  margin: 10px;
  background: #ffffff;
  border: 1px solid rgba(255, 54, 0, 0.7);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 360px;
  height: 33px;
  padding: 6px 30px;
  font-weight: 400;
  font-size: 18px;
  outline: none;
}

.styledSignupBtn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  background-color: $btns-font-color;
  color: $btns-text-color;
  padding: 8px 0px;
  margin-left: 9px;
  border-radius: $border-radius-for-btns-select-input;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-top: 18px;
  margin-bottom: 25px;
  height: 40px;
  width: 243px;
}
.styledSigninput:focus {
  outline-color: rgba(255, 54, 0, 0.7);
}
.errorMsg {
  color: #f23838;
  text-align: center; 
  margin: 0.5rem 0;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  color: #000;
  padding: 0.25rem;
  position: relative;
  bottom: 0px;
  text-align: center;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: rgb(22, 144, 22);
  display: flex;
  margin-left: 20px;
  
}

.invalid {
  color: red;
  display: flex;
  margin-left: 20px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: $bp-phone) {
  .styledSignupinput {
    width: 221px;
    height: 30px;
    margin: 5px;
    font-weight: 400;
    font-size: 12px;
  }
  .styledSignupTitle {
    font-weight: 700;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  
  .styledSignupBtn {
    padding: 10px 12px 9px 12px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 25px;
    width: 166px;
    height: 35px;
  } 
  .styledSignupFormSize {
    padding: 0px;
  }
  
  .styledSignupForm {
  margin: 0px;
  }
}
