@import '../../styles/variables';

.styledForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 88px;
}

.styledLoginFormSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px;
}
.styledLoginTitle {
  color: $title-color-login-signup;
  font-size: $title-size-login-signup;
  font-weight: $second-text-weight;
  font-family: 'Roboto';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  font-weight: 400;
  font-size: 18px;
}

.styledLogininput {
  background: #ffffff;
  border: 1px solid rgba(255, 54, 0, 0.7);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 360px;
  height: 33px;
  margin-bottom: 32px;
  padding: 6px 30px;
  font-weight: 400;
  font-size: 18px;
}

.styledLoginBtn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  background-color: $btns-font-color;
  color: $btns-text-color;
  padding: 9px 55px;

  border-radius: $border-radius-for-btns-select-input;
  font-size: $main-text-size;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-bottom: 30px;
}
.styledLogininput:focus {
  outline-color: rgba(255, 54, 0, 0.7);
}

@media (max-width: $bp-phone) {
  .styledLoginTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 70px;
    margin-bottom: 20px;
  }
  .styledLogininput {
    margin: 5px;
    font-weight: 400;
    font-size: 12px;
    width: 221px;
    height: 30px;
  }
  .styledLoginBtn {
    padding: 9px 23px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5.5px;
    margin-left: 5px;
    margin-bottom: 26px;
  }
  a {
    font-weight: 400;
    font-size: 12px;
  }
  .styledForm {
    padding: 1px;
  }
  .styledLoginFormSize {
    padding: 0px;
  }
}
